* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0;
}

canvas {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.row,
.parallax-container .section {
    width: 100%;
}

.row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#banner-gradient {
    background-image: linear-gradient(45deg, rgb(222, 104, 109) 0px, rgb(237, 109, 114) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.bg-none {
    background-image: initial;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

nav .brand-logo,
nav ul a {
    color: rgb(68, 68, 68);
}

.button-collapse {
    color: rgb(38, 166, 154);
}

footer.gram-footer ul.collection>li.collection-header,
footer.gram-footer ul.collection>li.collection-item {
    background-image: initial;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: initial;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

footer.gram-footer ul.collection {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: initial;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.input-field [type="checkbox"]+label,
.input-field [type="radio"]:checked+label,
.input-field [type="radio"]:not(:checked)+label {
    pointer-events: auto;
}

input:not([type]):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: orange;
    box-shadow: orange 0px 1px 0px 0px;
}

#contact input#your-email,
#contact textarea#your-message {
    color: rgb(255, 255, 255);
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.col:empty {
    display: table-cell;
    height: 75px;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0px;
    }
}